@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  @apply bg-white text-black dark:bg-neutral-800 dark:text-white;
}

.sidebar-scrollbar-dark {
  scrollbar-color: #404040 transparent;
}

.sidebar-scrollbar {
  scrollbar-color: #a1a1a1 transparent;
}
